
    <nav class="footer-nav">
        <ul>
            <li class="nav-item">
                <a href="{{ path('app_add') }}">
                    <i class="fa-solid fa-plus"></i>
                    {# <span class="nav-text">Ajouter</span> #}
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_tour') }}">
                    <i class="fa-solid fa-car"></i>
                    {# <span class="nav-text">Tournée</span> #}
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_patient') }}">
                    <i class="fa-solid fa-user"></i>
                    {# <span class="nav-text">Patients</span> #}
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_transmission') }}">
                    <i class="fa-solid fa-clipboard"></i>
                    {# <span class="nav-text">Transmissions</span> #}
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_chat') }}">
                    <i class="fa-solid fa-comment"></i>
                    {# <span class="nav-text">Messagerie</span> #}
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_more') }}">
                    <i class="fa-solid fa-bars"></i>
                    {# <span class="nav-text">Plus</span> #}
                </a>
            </li>
        </ul>
    </nav>