{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        <a href="{{ path('app_patient') }}" class="back-link">
            <i class="fa-solid fa-chevron-left"></i>
        </a>
        <h1>Modifier le patient {{ patient.lastname }} {{ patient.firstname }}</h1>
    </div>

<div class="centered-form">
{{ form_start(form) }}
 <div class="form-row">
        <div class="form-group">
            {{ form_label(form.lastname, 'Nom :') }}
            {{ form_widget(form.lastname, { 'attr': {'required': 'required'} }) }}
        </div>

        <div class="form-group">
            {{ form_label(form.firstname, 'Prénom :') }}
            {{ form_widget(form.firstname, { 'attr': {'required': 'required'} }) }}
        </div>
    </div>

        <div class="form-group">
            {{ form_label(form.email, 'Email :') }}
            {{ form_widget(form.email, { 'attr': {'required': 'required'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.address, 'Adresse :') }}
            {{ form_widget(form.address) }}
        </div>

        <div class="form-row">
            <div class="form-group">
                {{ form_label(form.postcode, 'Code Postal :') }}
                {{ form_widget(form.postcode) }}
            </div>

            <div class="form-group">
                {{ form_label(form.city, 'Ville :') }}
                {{ form_widget(form.city) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.information, 'Informations supplémentaires :') }}
            {{ form_widget(form.information) }}
        </div>

        <div class="form-group">
            {{ form_label(form.phone, 'Téléphone :') }}
            {{ form_widget(form.phone) }}
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
        {{ form_end(form) }}
    </div>
    </div>

{% endblock %}
